
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p, span {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  line-height: .3em;
}
h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #E5E5E5;
}
@media (max-width: 1440px) {
  .hearer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    gap: 50px;
    margin-left: 0;
    mr0
    margin-bottom: 50px;
    padding: 15px;
  }
  .home__bar {
    display: flex;
    gap: 46px;
  }
}  

.wrapper {
  background-color: #fff;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}
.first__block {
  background: linear-gradient(90deg, rgba(255,249,242,1) 66%, rgba(253,184,39,1) 66%);
  width: 100%;
  background-size: 100%;
  margin-bottom: 60px;
  padding-top: 40px;
}
.hearer {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

.logo {
  padding-left: 1em;
}
.home__bar {
  display: flex;
  gap: 46px;
  
}
.home__bar a {
  text-decoration: none;
  color: #233506;
}

.contact__bar {
  padding-right: 1em;
  display: flex;
  gap: 2rem;
  align-items: center;
}
.contact__bar a {
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  
}

.contuct__us {
  color: #FF800B;
  padding: .8rem 1.5rem;
  background-color: #FFF9F2;
  border-radius: 2rem;
}
.cart {
  padding: 11px;
  background-color: #FFF9F2;
  border-radius: .85rem;
}
.serch {
  padding: .7rem;
  background-color: #FFF9F2;
  border-radius: .85rem;
}
.title-section {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 150px;
}
.title-position {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.title-area {
  display: flex;
  flex-direction: column;
  
  text-align: right;
  justify-content: center;
  max-width: 591px;
  width: 100%;
  
  height: 100%;
}
.main-title {
  color: #233506;
  font-size: 84px;
  line-height: 120%;
  margin-bottom: 60px;
  text-align: left;
}
.main-title span {
  font-family: 'Poppins', sans-serif;
  color: #FDB827;
  font-size: 84px;
  line-height: 120%
} 
.content {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
  color: #233506;
  opacity:  65%;
  margin-bottom: 50px;
  text-align: left;
}
.order-now {
  display: inline-block;
  text-align: left;
  background-image: url(/images/Vector.svg);
  background-repeat: no-repeat;
  
}
.order-now a {
  
  text-align: left;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  padding: 20px 41px;
  background-color: #FDB827;
  border-radius: 50px;
}
.vector {
  padding-left: 15px;
}
.main-img__box {
  
   padding-right: 15px;
}
.img__fruit {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
/* Feature Products*/
.featured__products {
   max-width: 1200px;
   width: 100%;
   margin: auto;
   padding: 0px 15px;
}
.fp__title {
   text-align: center;
   margin-bottom: 90px;
   font-weight: 700;
   font-size: 70px;
   line-height: 82px;
   color: #233506;
}
.fp__wrapp {
   display: flex;
   flex-wrap: wrap;
   gap: 50px 30px;
   height: 100%;
   margin-bottom: 140px;
}
.product__cards {
   width: 100%;
   height: 100%;
   max-width: 270px;
   max-height: 330px;
}
.product__bg {
   max-width: 270px;
   max-height: 197px;
   width: 100%;
   height: 100%;
   margin-bottom: 33px;
}
.bg__size-2 {
   border-radius: 8px;
}
.product__title-box {
   display: flex;
   justify-content: space-between;
   margin-bottom: 34px;
}
.product__name {
   font-size: 20px;
   line-height: 23px;
   font-weight: 600;
   color: #02283F;
}
.price {
   font-size: 18px;
   line-height: 21px;
   font-weight: 600;
   color: #02283F;
}
.weight__action-box {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.weight {
   font-size: 12px;
   line-height: 14px;
   font-weight: 600;
   color: #02283F;
}
.buy__action {
   font-size: 18px;
   line-height: 21px;
   font-weight: 400;
   color: #02283F;
   padding: 15px 37px;
   background-color: #FDB827;
   border-radius: 8px;
   text-decoration: none;
   
}

/* How it works*/

.hiw__block {
   background-color: #FFF9F2;
   position: relative;
}
.hiw__wrapp {
   display: flex;
   max-width: 1200px;
   width: 100%;
   margin: auto;
   padding-top: 56px;
   padding-bottom: 56px;
}
.hiw__images-groupe {
   padding-left: 15px;
}
.hiw__decription-groupe {
   padding-right: 15px;
}
.hiw__title {
   text-align: center;
   font-size: 70px;
   line-height: 82px;
   font-weight: 600;
   color: #02283F;
   padding-top: 40px;
}
.hiw__text {
   font-weight: 400;
   font-size: 18px;
   line-height: 170%;
   letter-spacing: 0.005em;
   color: rgba(42, 53, 71, 0.75);
   text-align: left;
   padding: 40px 55px 40px 85px;
}
.hiw__order-box {
   display: flex;
   flex-direction: column;
   padding-left: 85px;
}
.hiw__conditions-box {
   display: flex;
   align-self: center;
   margin-bottom: 50px;
}
.hiw__text-box {
   padding-left: 32px;
   
   
}
.hiw__choise {
}
.hiw__choise-product {
   font-size: 20px;
   line-height: 23px;
   font-weight: 600;
   color: #02283F;
   margin-bottom: 10px;


}
.hiw__choise-content {
   font-weight: 400;
font-size: 18px;
line-height: 170%;
letter-spacing: 0.01em;
color: rgba(2, 40, 63, 0.67);
}
.cirkle {
   position: absolute;
   left: 0;
}
/*About section*/
.about__us {
   margin-top: 170px;
   margin-bottom: 100px;
   position: relative;
}
.au__container {
   max-width: 1200px;
   margin: auto;
   
}
.au__wrapp {
   display: flex;
   max-width: 1200px;
   width: 100%;
   flex-shrink: 1;
   
}
.au__description-box {
   margin-right: 126px;
}
.au__title {
   font-size: 70px;
   line-height: 82px;
   margin-bottom: 60px;
   color: #02283F;
   margin-top: 150px;
}
.au__text {
   font-weight: 400;
   font-size: 18px;
   line-height: 31px;
   color: #5F6672;
   margin-bottom: 50px;
}
.au__read-more {
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 31px;
   color: #FFFFFF;
   background: #FDB827;
   border-radius: 50px;
   padding: 20px 34px;
   max-width: 160px;
   text-decoration: none;

}
.au__bg {
   max-width: 100%;
   max-height: 100%;
   object-fit: cover;
   padding-right: 15px;
   z-index: 5;
}

.au__cirkle {
   position: absolute;
   top: 30px;
   left: 1500px;
   

}

/*Costumer review*/

.costumer__review {
   background-color: #FFF9F2;
   
}
.cr__wrapp {
   max-width: 1200px;
   margin: auto;
   padding-top: 147px;
   position: relative;
}
.cr__title {
   text-align: center;
   font-size: 70px;
   line-height: 82px;
   color: #02283F;
   margin-bottom: 60px;
}
.review__box {
   margin: auto;
   display: flex;
   justify-content: center;
   text-align: center;
   max-width: 888px;
   min-height: 414px;
   width: 100%;
   height: 100%;
   position: relative;
   z-index: 15;
}
.review__cards {
   
   max-width: 826px;
   max-height: 368px;
   width: 100%;
   height: 100%;
   background-color: #fff;
   border-radius: 64px;
   margin-bottom: 150px;
   box-shadow: 4px 5px 15px rgba(2, 40, 63, 0.64);
}
.review__text {
   padding: 90px 110px 50px 110px;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 31px;
   color: #02283F;
}
.costumer__description {
   
   display: flex;
   justify-content: center;
   text-align: left;
   padding-left: 15px;
}
.costumer__img {
   border-radius: 100%;
   max-width: 100px;
   max-height: 100px;
   width: 100%;
   height: 100%;
   margin-bottom: 100px;
   margin-right: 15px;
}
.costumer__text {
   max-width: 288px;
   max-height: 100px;
   padding-top: 20px;
}
.name {
   font-size: 18px;
   line-height: 36px;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.04em;
   color: rgba(2, 40, 63, 0.79)
   justify-content: start;
   text-align: center;
}
.costumer__rate {
   font-size: 18px;
   line-height: 36px;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.04em;
   color: rgba(2, 40, 63, 0.64)
}
/*hidden card*/

.review__cards-2 {
   position: absolute;
   top: 450px;
   left: 260px;
   max-width: 676px;
   max-height: 268px;
   width: 100%;
   height: 100%;
   background-color: #fff;
   border-radius: 64px;
   box-shadow: 4px 5px 15px rgba(2, 40, 63, 0.64);
   opacity: 20%;
}
.review__text-2 {
   padding: 25px 80px 25px 80px;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 31px;
   color: #02283F;
}
.costumer__description-2 {
   
   display: flex;
   justify-content: center;
   text-align: left;
   padding-left: 15px;
}
.costumer__img-2 {
   border-radius: 100%;
   max-width: 80px;
   max-height: 80px;
   width: 100%;
   height: 100%;
   margin-bottom: 100px;
   margin-right: 15px;
}
.costumer__text-2 {
   max-width: 200px;
   max-height: 70px;
   padding-top: 10px;
}
.name-2 {
   font-size: 14px;
   line-height: 28px;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.03em;
   color: rgba(2, 40, 63, 0.79)
   justify-content: start;
   text-align: center;
}

.costumer__rate-2 {
   font-size: 14px;
   line-height: 28px;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.03em;
   color: rgba(2, 40, 63, 0.64)
}
/*last card*/

.review__cards-3 {
   position: absolute;
   top: 525px;
   left: 310px;
   max-width: 576px;
   max-height: 238px;
   width: 100%;
   height: 100%;
   background-color: #fff;
   opacity: 20%;
   border-radius: 54px;
   box-shadow: 4px 5px 15px rgba(2, 40, 63, 0.3);
   opacity: 10%;
}
.review__text-3 {
   padding: 25px 80px 25px 80px;
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 24px;
   color: #02283F;
}
.costumer__description-3 {
   display: flex;
   justify-content: center;
   text-align: left;
   padding-left: 15px;
}
.costumer__img-3 {
   border-radius: 100%;
   max-width: 60px;
   max-height: 60px;
   width: 100%;
   height: 100%;
   margin-bottom: 100px;
   margin-right: 15px;
}
.costumer__text-3 {
   max-width: 150px;
   max-height: 50px;
   padding-top: 10px;
}
.name-3 {
   font-size: 12px;
   line-height: 24px;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.02em;
   color: rgba(2, 40, 63, 0.79)
   justify-content: start;
   text-align: center;
}
.costumer__rate-3 {
   font-size: 14px;
   line-height: 28px;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.03em;
   color: rgba(2, 40, 63, 0.64)
}
/*Buttons*/
.right {
   position: absolute;
   top: 4300px;
   left: 585px;
   z-index: 20;
   cursor: pointer;
   transition: .2s ease-out;
}

.left {
   position: absolute;
   
   top: 4300px;
   right: 590px;
   z-index: 20;
   cursor: pointer;
   transition: .2s ease-out;
}
.left:hover {
   content: "";
   position: absolute;
   
   top: 4300px;
   right: 580px;
   z-index: 20;
   cursor: pointer;
}
.right:hover {
   content: "";
   top: 4300px;
   left: 575px;
   z-index: 20;
   cursor: pointer;
}


/*footer*/


.footer__wrapp {
   max-width: 1200px;
   width: 100%;
   height: 100%;
   margin: 100px auto 0;
}
.media__bar {
   display: flex;
   width: 100%;
   justify-content: space-between;
}
.first__section {
   
}
.logo__footer {
   display: inline-block;
   margin-bottom: 47px;
   font-style: normal;
   font-weight: 600;
   font-size: 31px;
   line-height: 46px;
   color: #243165;
   text-decoration: none;
}
.logo__footer-content {
   font-style: normal;
   color: rgba(55, 84, 101, 0.8);
   font-weight: 400;
   font-size: 17px;
   line-height: 28px;
   letter-spacing: 0.03em;
   margin-bottom: 38px;
}

.media__links ul {
   display: flex;
   list-style: none;
   gap: 15px;
   justify-content: flex-start;
   align-items: center;
}

.community {
   width: 120px;
   
}
.community__title {
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 28px;
   color: #243165;
   margin-bottom: 45px;
}
.community ul {
   list-style: none;
}
.community a {
   text-decoration: none;
   font-style: normal;
   font-weight: 400;
   font-size: 17px;
   line-height: 28px;
   color: rgba(55, 84, 101, 0.8);
   cursor: pointer;
}
.community__items {
   padding-bottom: 27px;
}

.footer__about {
   width: 120px;
}
.footer__about ul {
   list-style: none;
}
.footer__about a {
   text-decoration: none;
   font-style: normal;
   font-weight: 400;
   font-size: 17px;
   line-height: 28px;
   color: rgba(55, 84, 101, 0.8);
   cursor: pointer;
}
.title__about {
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 28px;
   color: #243165;
   margin-bottom: 45px;
}
.about__items {
   padding-bottom: 27px;
}
.contact ul {
   list-style: none;
}
.title__contact {
   
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 28px;
   color: #243165;
   margin-bottom: 45px;
   
}
.contact a {
   text-decoration: none;
   font-style: normal;
   font-weight: 400;
   font-size: 17px;
   line-height: 28px;
   color: rgba(55, 84, 101, 0.8);
   cursor: pointer;
}
   

.contact__items {
   padding-bottom: 27px;
}
.footer__line {
   border: 1px solid #C4C4C4
}
.footer__end {
   text-align: center;
   font-style: normal;
   color: #375465;
   font-weight: 400;
   font-size: 18px;
   line-height: 28px;
   height: 96px;
   display: flex;
   justify-content: center;
   align-items: center;
}
