html, body {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Raleway', sans-serif;
   overflow: hidden;
}

ul {
   list-style: none;
}

a, btn {
   text-decoration: none;
   cursor: pointer;
   z-index: 5;
}

.wrapper{
   display: block;
   background: rgb(255,249,242);
   background: linear-gradient(90deg, rgba(255,249,242,1) 60%, rgba(253,184,39,1) 60%);
   background-position: center;
   background-size: contain;
   width: 100vw;
   z-index: 1;
}

.container {
   max-width: 63.5%;
   padding-left: 10px;
   padding-right: 5px;
   margin: 0 auto;
}

.header {
   padding-top: 62px;
   padding-left: 10px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 150px;
   z-index: 5;
}



.home {
   display: flex;
   font-size: 18px;
   line-height: 21px; 
   font-weight: 500;
   color: rgba(35, 53, 6, 1); 
   z-index: 5; 
}

.home a {
   color: rgba(35, 53, 6, 1);  
}

.home a:hover {
   content: "";
   text-decoration: underline;
}

.home__items {
   margin-left: 46px;
}

.contact {
   display: flex;
   font-size: 18px;
   line-height: 21px; 
   font-weight: 500;
   z-index: 5;
}

.contact a {
   margin-right: 16px;
   padding: 15px;
   background-color: #fff;
   border-radius: 15px;
}

.contact a:hover {
   content: "";
   background-color: rgb(98, 97, 82);
   text-decoration: underline;
   box-shadow: 1px 1px 1px #FDB827;
}

.contact__item a {
   border-radius: 22px;
   color: #FF800B;
}

.contact__items-cart a {
   padding: 22px 15px 10px 15px;
}

.contact__items-lens a{
   padding: 20px 15px 13px 15px ;
}

.main {
   position: relative;
   display: flex;
   max-width: 1220px;
   padding-left: 10px;
   margin: 0 auto;
}

.container-main {
   display: flex;
   flex-direction: column;
   justify-content: left;
   align-items: left;

}

h1 {
   font-size: 84px;
   line-height: 101px;
   font-weight: 900;
   color: 
   rgba(35, 53, 6, 1);
   max-width: 591px;
   margin-bottom: 60px;
}

.title span {
   color: rgba(253, 184, 39, 1);
}

.title-text {
   font-size: 18px;
   font-weight: 500;
   line-height: 31px;
   max-width: 456px;
   color: rgba(35, 53, 6, 0.65);
   margin-bottom: 50px;
}

.order-groupe:hover {
   content: "";
   background-color: rgb(98, 97, 82);
   box-shadow: 1px 1px 1px #FDB827;
}

.order {
   display: block;
   color: rgba(255, 255, 255, 1);
   font-weight: 500;
   line-height: 25px;
   padding: 22px 40px;
   background-color: #FDB827;
   border-radius: 33px;
   max-width: 120px;
   margin-bottom: 201px;
}

.order-btn__group {
   display: flex;
   align-items: center;
}

.order:hover {
   content: "";
   background-color: rgb(98, 97, 82);
   text-decoration: underline;
}

.order:after{
   content: "";
   background: url(../Images/arrow-order.svg);
   background-repeat: no-repeat;
   background-position: 15px 5px;
   height: 18px;
   display: inline-block;
   width: 22px;
   font-size: 18px;
   line-height: 25px;
   padding: 0 0 0 15px;
}

.heare-image {
   position: absolute;
   top: -212px;
   left: -278px;
   z-index: 0;
}
/*---------------------min 1440 px------------------------------------------------*/

@media (max-width: 1440.98px) {
   .wrapper{
      background: linear-gradient(90deg, rgba(255,249,242,1) 63%, rgba(253,184,39,1) 63%);
   }

   .header {
      padding-top: 45px;
      padding-right: 10px;
      margin-bottom: 100px;
   }

   .burger {
      display: none;
   }
   .container {
      max-width: 1220px;
      padding-right:10px;
   }

   h1 {
      margin-bottom: 50px;
   }
      
   .heare-image {
      left: -265px;
   }
}


/*--------------------------------max-width 1025px----------------------------------*/


@media (max-width: 1024.98px) {
   .wrapper{
      background: linear-gradient(90deg, rgba(255,249,242,1) 60%, rgba(253,184,39,1) 60%);
   }

   .container {
      max-width: 90%;
      padding: 0 10px;
      margin: 0 auto;
   }

   .header {
      padding-top: 35px;
      margin-bottom: 80px;
   }

   .home {
      font-size: 12px;
      line-height: 14px; 
   }

   .home__items {
      margin-left: 30px;
   }
   
   .contact {
      align-items: center;
      font-size: 12px;
      line-height: 14px; 
   }
   
   
   .contact__items-cart a {
      padding: 22px 15px 10px 12px;
   }
   
   h1 {
      font-size: 74px;
      line-height: 98px;
      max-width: 495px;
      z-index: 2;
      text-shadow: 0 0 4px#fff, 0 0 4px#fff;
   }
   
   .title-text {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 40px;
      z-index: 2;
      text-shadow: 0 0 4px#fff, 0 0 4px#fff;
   }
   
   
   .order {
      
      margin-bottom: 140px;
   }
   
   .order:after{
      content: "";
      background-position: 10px 4px;
      height: 16px;
   }
   
   .heare-image {
      max-width: 180%;
      top: -192px;
      left: -450px;
   }
}

/*----------------------max-width 768px------------------*/
@media (max-width: 767.98px) {
   .wrapper{
      background: linear-gradient(rgba(255,249,242,0.6), rgba(255,249,242,0.6)), url(../Images/header-image.png);
      background-repeat: no-repeat;
      background-size: 200%;
      background-position: 70% 30%;
      height: 100vh;
      z-index: 1;
      margin: 0 auto;
   }
   
   .container {
      max-width: 100%;
      padding: 0 15px;
   }

   .header {
      padding-top: 20px;
      margin-bottom: 20px;
      z-index: 5;
   }
   
   .contact {
      font-size: 14px;
      line-height: 14px; 
   }
   
   .contact a {
      margin-right: 14px;
      padding: 16px;
      box-shadow: 1px 1px 1px #233506;
   }
   
   .contact__items-cart a {
      padding: 22px 15px 11px 15px;
   }
   
   .contact__items-lens a{
      padding: 20px 15px 13px 15px ;
   }
   

   .btn {
      display: block;
      width: 50px;
      height: 50px;
      background-color: #FDB827;
      border-radius: 15px; 
      box-shadow: 1px 1px 1px #233506;
      position: relative;
   }

   .btn:hover {
      content: "";
      background-color: rgb(98, 97, 82);
      box-shadow: 1px 1px 1px #FDB827;
   }

   .btn-span,
   .btn-span::before,
   .btn-span::after {
      position: absolute;
      top: 50%; 
      margin-top: -1px;
      left: 34%; 
      margin-left: -10px;
      width: 30px;
      height: 2px; 
      background-color: #fff;
      z-index: 6;
   }

   .btn:hover {
      content: "";
      background-color: rgb(98, 97, 82);
      box-shadow: 1px 1px 1px #FDB827;
   }

   .btn-span::before {
      content: "";
      transform: translateY(8px);
      
   }

   .btn-span::after {
      content: "";
      transform: translateY(-8px);
   }

   .home {
      display: none;
   }

   .main {
      display: block;
      position: relative;
   }

   .container-main {
      display: block;
      
   
   }

   h1 {
      font-size: 60px;
      text-align: center;
      color: rgb(35, 53, 6);
      text-align: left;
      margin-bottom: 25px; 
      max-width: 96vw;  
      margin: 0 auto;
      line-height: 68px;
      text-shadow: 1px 1px 1px  #233506;
   }

   .title-text {
      display: block;
      font-size: 18px;
      font-weight: 800;
      line-height: 26px;
      color: #233506;
      margin-bottom: 45px;
      padding-right: 16px;
   }

   .order {
      color: rgba(255, 255, 255, 1);
      font-size: 14px;
      font-weight: 500;
      line-height: 25px;
      padding: 15px  15px;
      background-color: #FDB827;
      border-radius: 33px;
      text-align: center;
      margin-bottom: 50px;
      box-shadow: 1px 1px 1px #233506;
   }

   .order:hover {
      content: "";
      background-color: rgb(98, 97, 82);
      box-shadow: 1px 1px 1px #FDB827;
      text-decoration: underline;
   }

   .order::after {
      content: "";
      display: none;
   }
   .heare-image {
      display: none;
   }


}

/*--------------------   max-width 481px-----------------*/

@media (max-width: 480.98px) {
   
   .wrapper{
      display: block;
      background-size: 250%;
      background-position: 80% 40%;
      width: 100vw;
      height: 100vh;
   }

   .container {
      max-width: 480px;
      padding-left: 10px;
      padding-right: 10px;
      margin: 0 auto;
   }

   .header {
      padding-top: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      z-index: 5;
   }

   .btn {
      width: 35px;
      height: 35px;
      border-radius: 10px; 
      margin-right: 10px;
      box-shadow: 1px 1px 1px #233506;
   }

   

   .btn-span,
   .btn-span::before,
   .btn-span::after {
      position: absolute;
      top: 50%; margin-top: -1px;
      left: 50%; margin-left: -10px;
      width: 20px;
      height: 2px; 
      background-color: #fff;
   }

   .btn-span::before {
      content: "";
      transform: translateY(6px);
      
   }

   .btn-span::after {
      content: "";
      transform: translateY(-6px);
   }
   
   .home {
      display: none;
   }

   .contact {
      display: none;
   }

   h1 {
      font-size: 40px;
      margin-bottom: 25px;
      padding-right: 10px;   
      line-height: 58px;
      text-shadow: 1px 1px 1px  #233506;
   }

   .title-text {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 45px;
   }

   .order {
      padding: 5px  5px;
      margin-bottom: 40px;
   }

   

   

   

   
}

   


